<!DOCTYPE html>
<html lang="{{languagecode}}" dir="{{direction}}">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="generator" content="LimeSurvey http://www.limesurvey.org" />

        <title>{{survey.name}}</title>
        <link rel='stylesheet' type='text/css' media='all' href='{{template.url}}/template.css' />
        {% for cssFile in cssFiles %}
            <style type="text/css" src="{{ cssFile }}"/>
        {% endfor %}
        <link rel="shortcut icon" href="{{template.url}}/favicon.ico" />
    </head>
    <body class="default lang-{{languagecode}} welcome">
    <h1>{{survey.name}}</h1>
    <p class='surveydescription'>{{survey.description}}</p>
    <p class='surveywelcome'>{{survey.welcome}}</p>
    <p class="x-questions">
        {{ trans("There are %d questions in this survey.", survey.questioncount) }}
    </p>
    {% include 'navigator.twig' %}
    
    </body>    
</html>